@import "./sass/partials/global";
@import "./sass/partials/variables";
@import "./sass/partials/searchbox.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(bgcolor);
  color: color(primary-color);
  font-family: $body-font;
  font-size: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1rem;
  border: 1px solid #fff;

  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
  }
}
